functions-framework>=3.9,<4
google-cloud-dataproc>=5.23,<6
google-cloud-firestore>=2.21,<3
google-cloud-pubsub>=2.31,<3
google-cloud-storage>=3.4,<4
google-auth[requests]>=2.40,<3
PyJWT[crypto]>=2.10,<3
